/*CSS Geral*/
body {
    font-family: "Opens Sans" sans-serif;
    background: #0c0b09;
    color: #ececec;
}

a {
    color: #cda45e;
    text-decoration: none;
}

a:hover {
    color: #d9ba85;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-bottom-color: #cda45e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* back to top button */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all 0.4s;
    border: 2px solid #cda45e;
}

.back-to-top i {
    font-size: 28px;
    color: #cda45e;
    line-height: 0;
}

.back-to-top:hover {
    background: #cda45e;
    color: #1a1814;
}

.back-to-top:hover i {
    color: #444;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Top Bar */
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info i {
    font-style: normal;
    color: #d9ba85;
}

#topbar .contact-info i span {
    padding-left: 5px;
    color: #ececec;
}

/* header */
#header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
}

#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}

/* Logo em Texto */
#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "", serif;
    /* font-family: "Poppins", sans-serif; */
}

#header .logo a {
    color: #ececec;
    /* color: #cda45e; */
}

/* Tamanho para logo em imagem */
#header .logo img {
    max-height: 40px;
}

/* Botao Reservas = Book a table */

.book-a-table-btn {
    margin: 0 0 0 15px;
    border: 2px solid #cda45e;
    color: #ececec;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.book-a-table-btn:hover {
    background: #cda45e;
    color: #1a1814;
}

@media (max-width: 992px) {
    .book-a-table-btn {
        margin: 0 15px 0 0;
        padding: 8px 20px;
    }
}

/* Navegation Menu
    Desktop
*/

.navbar {
    padding: 0px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #ececec;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #d9ba85;
}

@media (max-width: 1366px) {
    .navbar ul {
        left: -90%;
    }
}

/*  Menu Nav Mobile */

.mobile-nav-toggle {
    color: #ececec;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background: #ececec;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #1a1814;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #cda45e;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero .container {
    padding-top: 110px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 98px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ececec;
    font-family: "Poppins", sans-serif;
}

#hero h1 span {
    color: #cda45e;
}

#hero h2 {
    color: #ececec;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
}

#hero .btns {
    margin-top: 30px;
}

#hero .btn-menu,
#hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    border: 2px solid #cda45e;
    line-height: 1;
    color: white;
    transition: 0.3s;
}

#hero .btn-menu:hover,
#hero .btn-book:hover {
    background: #cda45e;
    color: #1a1814;
}

#hero .btn-book {
    margin-left: 15px;
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #ececec;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps (0.7);
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid #cda45e;
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 200;
    animation: none;
    border-radius: 0;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero .play-btn {
        margin-top: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }

    #hero .container {
        padding-top: 130px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 40px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/* CSS Geral - Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #1a1814;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
}

/*------ Sobre = About ------*/

.about {
    background: url("../img/about-bg.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
}

.about::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .about-img {
    position: relative;
    transition: 0.5s;
}

.about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.about .about-img::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    left: 20px;
    top: 20px;
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: 0.5s;
}

.about .about-img::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: 0.5s;
}

.about .about-img:hover {
    transform: scale(1.03);
}

.about .about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
}

.about .content {
    position: relative;
}

.about .content h3 {
    font-size: 26px;
    font-weight: 600;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (min-width: 320px) {
    .about {
        background-attachment: fixed;
    }
}

/* ---------------------- 
# Why Us
---------------------- */
.why-us .box {
    padding: 50px 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
}

.why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #cda45e;
}

.why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
}

.why-us .box p {
    color: #aaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.why-us .box:hover {
    background: #cda45e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
    color: #ececec;
}

/* Menu Section */

.menu #menu-filters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.menu #menu-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #ececec;
    font-family: "Playfair Display", serif;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    /* border: 1px solid #cda45e; */
}

.menu #menu-filters li:hover,
.menu #menu-filters li.filter-active {
    color: #cda45e;
}

.menu .menu-item {
    margin-top: 50px;
}

.menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 3px solid rgba(247, 148, 68, 0.5);
}

.menu .menu-content {
    position: relative;
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.menu .menu-content::after {
    content: ".....................................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #aaa;
    font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
}

.menu .menu-content a {
    padding-right: 10px;
    background: #1a1814;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: white;
    transform: 0.3s;
}

.menu .menu-content a:hover {
    color: #cda45e;
}

.menu .menu-content span {
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #cda45e;
}

.menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins" sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

/* --- Pratos Especiais  -----   */
.specials {
    overflow: hidden;
}

.specials .nav-tabs {
    border: 0;
}

.specials .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #ececec;
    border-radius: 0;
    border-right: 2px solid #cda45e;
    font-weight: 600;
    font-size: 15px;
}

.specials .nav-link:hover {
    color: #cda45e;
}

.specials .nav-link.active {
    color: #1a1814;
    background: #cda45e;
    border-color: #cda45e;
}

.specials .tab-pane.active {
    animation: fadeIn 0.5s ease-in-out;
}

.specials .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #d9ba85;
}

.specials .details p {
    color: #ececec;
    text-align: justify;
}

@media (max-width: 992px) {
    .specials .nav-link {
        border: 0;
        padding: 15px;
    }
}

/* --------  Eventos  --------- */
.events {
    background: url(../img/events-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.events::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.events .section-title h2 {
    color: #ececec;
}

.events .container {
    position: relative;
}

@media (min-width: 320px) {
    .events {
        background-attachment: fixed;
    }
}

.events .events-carousel {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
}

.events .event-item {
    color: #fff;
}

.events .event-item h3 {
    color: #cda45e;
    font-weight: 600;
    font-size: 26px;
}

.events .event-item .price {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.events .event-item .price span {
    border-bottom: 2px solid #cda45e;
}

.events .event-item ul {
    list-style: none;
    padding: 0;
}

.events .event-item ul li {
    padding-bottom: 10px;
    color: #ececec;
}

.events .event-item ul i {
    font-size: 20px;
    color: #cda45e;
    padding-right: 4px;
}

.events .event-item p:last-child {
    color: #fff;
    margin-bottom: 0;
}

.events .swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.events .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.4);
}

.events .swiper-pagination .swiper-pagination-bullet-active {
    background: #cda45e;
}

/* === reservas === */
